@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Targets all content */

* {
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Header styles */

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-right: 200px;
}

.header-links > a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 300;
}

.header-logo {
    margin-left: 200px;
}

/* Content styles */

/* First Section Styles */

.first-content {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: auto;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.first-left-content {
    margin-left: 200px;
}

.first-right-content {
    margin-right: 200px;
}

img {
    height: 300px;
    width: auto;
    border-radius: 7px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.sign-up-btn > button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

/* Second Section Styles */

.second-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.second-content-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.sketch-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.sketch-image {
    height: 200px;
    width: 200px;
    border: solid 3px #3882F6;
}

.sketch-one, .sketch-two, .sketch-three, .sketch-four {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: 200px;
}

.caption {
    font-size: 18px;
    color: #1F2937;
    font-weight: 300;
}

/* Third Section Styles */

.third-content {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    height: 33vh;
    justify-content: center;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    text-wrap: wrap;
    margin: 0 500px;
}

.author {
    font-weight: 900;
}

/* Fourth Section Styles */

.fourth-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33vh;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 24px;
    border-radius: 10px;
    margin: 0 200px;
    width: auto;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-header {
    font-weight: 900;
}

.cta-info {
    font-weight: 300;
}

.cta-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 500;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 4px;
}

/* Footer Styles */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    align-items: center;
}